/* ===========================================
         RESULTS PAGE SPECIFIC STYLING 
   =========================================== */
/* BASIC LAYOUT */
* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

/* HEADER */
header {
  background-color: #000;
  height: 75px;
  margin-bottom: 20px;
}

header img {
  display: inline-block;
  height: 55px;
  margin: 10px 0 0 20px;
}

header nav {
  float: right;
}

header a {
  color: #FFF;
  text-decoration: none;
}

header ul {
  height: 100px;
}

header li {
  display: inline-block;
  background-color: #cf3127;
  line-height: 55px;
  margin: 10px 20px 0 0;
  height: 55px;
  width: 100px;
  text-align: center;
}

/* MAIN */
main {
  width: 80%;
  max-width: 960px;
  margin: auto;
}

main h1 {
  background-color: #333;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 20px;
  margin: 0 10px 20px 10px;
}

main h2 {
  background-color: #333;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.25em;
  margin: 0 10px 20px 10px;
}

.chart-container {
  width: 200px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* HERO RESULTS */
#hero-results {
  width: 80%;
  max-width: 960px;
  margin: auto;
}

#hero-results {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#hero-results > div {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
}

#hero-results .text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero-results .text * {
  margin: 0;
  padding: 10px;
}

/* USER CARDS */
#all-results-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
}

#all-results-section > div {
  padding: 30px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #888;
}

/* FOOTER */
footer {
  width: 100%;
  height: 75px;
  background-color: #000;
}

/* ICONS */
.icons img {
  height: 40px;
  width: 40px;
}

.icons li {
  display: inline-block;
}