/* ===========================================
         RESULTS PAGE SPECIFIC STYLING 
   =========================================== */
* {
  box-sizing: border-box;
}

   .chart-container {
  width: 200px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* HERO RESULTS */
#hero-results {
  width: 80%;
  max-width: 960px;
  margin: auto;
}

#hero-results {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#hero-results > div {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 10px;
}

#hero-results .text {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#hero-results .text * {
  margin: 0;
  padding: 10px;
}

/* USER CARDS */
#all-results-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  margin: auto;
}

#all-results-section > div {
  padding: 30px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #888;
}

